nav {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0;
}
nav li {
  font-family: "Assistant", sans-serif;
  font-size: 14px;
  position: relative;
  margin-right: 20px;
}
.first li::after {
  content: "";
  position: absolute;
  background-color: rgb(253, 9, 9);
  height: 3px;
  width: 0;
  transition: 0.5s;
}
.first li:hover::after {
  width: 100%;
}
.navbar-brand img {
  width: 60px;
  height: 36px;
}

.icondiv {
  width: 40px;
  height: 35px;
  background-color: rgba(238, 236, 236, 0.767);
  padding-left: 10px;
  padding-top: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.icondiv i {
  color: rgba(187, 187, 187, 0.929);
}
.search {
  border: none;
  height: 35px;
  width: 33%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(238, 236, 236, 0.767);
  padding-bottom: 6px;
  font-size: 14px;
}
.search:focus {
  outline: none;
}

p {
  font-size: small;
}
.pv {
  height: 80% !important;
}

.carousel-caption h2,
p {
  color: black;
}
.carousel-caption h2 {
  margin-top: -25%;
  margin-left: 67%;
  font-weight: 700;
  color: rgb(231, 51, 51);
}
.carousel-caption p {
  margin-left: 72%;
  margin-top: 16%;
  color: rgb(255, 120, 1);
}
.carousel-caption {
  position: static !important;
}

.carousel-indicators {
  bottom: -10px;
  color: black !important;
}
.carousel-indicators button {
  background-color: rgba(0, 0, 0, 0.329) !important;
  width: 8px !important;
  height: 8px !important;
  margin-right: 1% !important;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.684) !important;
}
.sidebar {
  position: fixed;
  background-color: #535766;
  -webkit-transform: rotate(-270deg);
  left: -6%;
  bottom: 25%;
}
.sidebar-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.bell-btn {
  padding: 5px 8px !important;
  position: fixed;
  top: 90%;
  z-index: 1;
}
.modal-h5 {
  font-family: "Assistant", sans-serif !important;
  font-weight: 800 !important;
}
.text-h1 {
  font-family: "Assistant", sans-serif;
  font-weight: 900;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.modal {
  width: 300px !important;
  height: 90%;
}
.modal-scroll::-webkit-scrollbar {
  display: none;
}
.f-img {
  transition: 0.3s;
}
.f-img:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .carousel-caption h2 {
    margin-top: -30%;
    margin-left: 74%;
    font-size: small;
    color: #ff3f6c;
  }
  .carousel-caption p {
    margin-left: 72%;
    margin-top: 17%;
    font-size: 5px;
    color: rgb(255, 120, 1);
  }
  .carousel-indicators button {
    display: none;
  }
  .icondiv {
    display: none;
  }
  .search {
    border-radius: 5px;
    padding-left: 20px;
  }
  .navbar-brand img {
    width: 40px;
    height: 26px;
  }
  .carousel-indicators {
    bottom: -9px !important;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  .navbar-toggler {
    padding: 2px 6px;
  }
}
@media (max-width: 1250px) {
  .visi {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .pvisi {
    display: none;
  }
}
